import java.time.*
Date now = new Date()

manifest {
    name = 'test'
    homePage = 'test'
    description = 'test'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.09.0-edge'
    version = '1.0.0'
}

params {
    patients_inventory = 'data/inventory/inventory_patients_tcga.csv'
    analysis_inventory = 'data/inventory/inventory_analysis_tcga.csv'
    blacklist_inventory = 'data/inventory/inventory_blacklist_tcga.csv'
    /* In order to do analysis without black & white lists regions */
    /* blacklist_inventory = '' */

    target_genome_path = 'data/assets/reference_genome/hg19.fa'
    target_genome_version = 'hg19'
    chain = 'data/assets/reference_genome/hg38ToHg19.over.chain'

    min_depth = 30
    min_tumor_vac = 10
    min_tumor_vaf = 5
    max_germline_vaf = 1
    max_germline_vac = 5
    max_n_vars = 90000

    output = 'TEST/'


    cores = 2


    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    today = now.format("yyyyMMdd")
    tracedir = "pipeline_info"
}