params {
    target_genome_path = 'data/assets/reference_genome/hg19.fa'
    // optional, but required then filtering by local mutation rate is
    // requested (see bin_len below)
    target_genome_chr_len = 'data/assets/reference_genome/hg19.chrom.sizes.bed'
    chain = 'data/assets/reference_genome/hg38ToHg19.over.chain'

    mutpanning_java_memory='150G'
}

executor {
    name = 'lsf'
    queueSize = 5000
    submitRateLimit = '1000/1min'
}

process {
    containerOptions = '--bind /re_gecip/cancer_lung/:/re_gecip/cancer_lung/'
    container = params.r_container
    clusterOptions = '-P re_gecip_cancer_lung'
    cpus = 1
    queue = 'short'
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3

    withName:'check.*' {
        executor = 'local'
    }

    withName:FILTER_INPUT_MUTATIONS {
        cpus = 4
        memory = { 32.GB * task.attempt }
    }

    withName:'WRITE_MUTATIONS.*' {
        memory = { 32.GB * task.attempt }
        maxRetries = 10
    }

    withName:FILTER_GENOMIC_REGIONS {
        cpus = 2
        memory = { 24.GB * task.attempt }
    }

    withName:'WRITE_REGIONS.*' {
        memory = { 1.GB * task.attempt }
        maxRetries = 5
    }

    withName:CREATE_RDA_FOR_DNDSCV_DIGDRIVER {
        cpus = 2
        memory = { 32.GB * task.attempt }
    }

    withName:CALCULATE_MUTATION_RATES {
        memory = { 64.GB * task.attempt }
    }

    withName:CHASMplus {
        container = params.chasmplus_container
        queue = { task.attempt < 2 ? 'short' : 'medium' }
        memory = { 16.GB * task.attempt }
    }

    withName:DIGDRIVER {
        container = params.digdriver_container
        memory = { 32.GB * task.attempt }
    }

    withName:DNDSCV {
        memory = { 24.GB * task.attempt }
    }

    withName:MUTPANNING {
        container = params.mutpanning_container
        memory = { 32.GB + 32.GB * task.attempt }
    }

    withName:NBR {
        memory = { 24.GB * task.attempt }
    }

    withName: 'ONCODRIVE.*' {
        // in case you change number of cores here, do not forget to
        // change it in oncodrivefml config file too
        container = params.oncodrivefml_container
        queue = { task.attempt < 2 ? 'short' : 'medium' }
        cpus = 4
        memory = { 32.GB * task.attempt }
    }

    withName: 'COMBINE_P.*|ASSIGN_.*|FILTER_TIERED_.*|BIOTYPE_.*|.*_DISCOVER' {
        memory = { 16.GB * task.attempt }
    }

    withName: 'ANNOTATE_.*' {
        memory = { 32.GB * task.attempt }
    }
}
