params {
	target_genome_path = 'data/assets/reference_genome/hg19.fa'
    // optional, but required then filtering by local mutation rate is
    // requested (see bin_len below)
    target_genome_chr_len = 'data/assets/reference_genome/hg19.chrom.sizes.bed'
    chain = 'data/assets/reference_genome/hg38ToHg19.over.chain'

    mutpanning_java_memory='150G'
}

executor {
    name = 'lsf'
    queueSize = 5000
    submitRateLimit = '1000/1min'
}

process {
    containerOptions = '--bind /re_gecip/cancer_lung/:/re_gecip/cancer_lung/'
    clusterOptions = '-P re_gecip_cancer_lung'

    withName:check_inventories {
        container = params.r_container
        executor = 'local'
    }

    withName:FILTER_INPUT_MUTATIONS {
        container = params.r_container
        queue = 'short'
        cpus = 4
        memory = { 32.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withName:'WRITE_MUTATIONS.*' {
        container = params.r_container
        queue = 'short'
        cpus = 1
        memory = { 16.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 10
    }

    withName:FILTER_GENOMIC_REGIONS {
        container = params.r_container
        queue = 'short'
        cpus = 2
        memory = { 10.GB * task.attempt } 
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withName:'WRITE_REGIONS.*' {
        container = params.r_container
        queue = 'short'
        cpus = 1
        memory = { 1.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withName:CREATE_RDA_FOR_DNDSCV_DIGDRIVER {
        container = params.r_container
        queue = 'short'
        cpus = 2
        memory = { 32.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withName:CALCULATE_MUTATION_RATES {
        container = params.r_container
        queue = 'short'
        cpus = 1
        memory = { 64.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withName: DIGDRIVER {
        container = params.digdriver_container
        queue = 'short'
        cpus = 1
        memory = { 16.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withName: 'DNDSCV' {
        container = params.r_container
        cpus = 1
    }

    withName: MUTPANNING {
        container = params.mutpanning_container
        cpus = 1
    }

    withName: NBR {
        container = params.r_container
        cpus = 1
    }

    withName: 'ONCODRIVE.*' {
        // in case you change number of cores here, do not forget to
        // change it in oncodrivefml config file too
        container = params.oncodrivefml_container
        queue = { task.attempt < 2 ? 'short' : 'medium' }
        cpus = 4
        memory = { 32.GB * task.attempt }
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
}