params {
    target_genome_path = 'data/assets/reference_genome/Homo_sapiens_assembly19.fasta'
    // optional, but required then filtering by local mutation rate is
    // requested (see bin_len below)
    target_genome_chr_len = 'data/assets/reference_genome/Homo_sapiens_assembly19.chrom.sizes.bed'
    chain = 'data/assets/reference_genome/hg38ToHg19.over.chain'

    mutpanning_java_memory='16G'
}

executor {
    name = 'local'
}

process {
    container = params.r_container
    containerOptions = '--bind ${PWD}:${PWD}'
    cpu = 1

    withName: CREATE_RDA_FOR_DNDSCV_DIGDRIVER {
        cpus = 2
    }

    withName: CHASMplus {
        container = params.chasmplus_container
    }

    withName: DIGDRIVER {
        container = params.digdriver_container
    }

    withName: MUTPANNING {
        container = params.mutpanning_container
    }

    withName: 'ONCODRIVE.*' {
        container = params.oncodrivefml_container
        cpus = 4
    }
}