params {
    target_genome_path = 'data/assets/reference_genome/Homo_sapiens_assembly19.fasta'
    // optional, but required then filtering by local mutation rate is
    // requested (see bin_len below)
    target_genome_chr_len = 'data/assets/reference_genome/Homo_sapiens_assembly19.chrom.sizes.bed'
    chain = 'data/assets/reference_genome/hg38ToHg19.over.chain'

    mutpanning_java_memory='16G'
}

executor {
    name = 'local'
    cpu = 2
}

process {
    containerOptions = '--bind ${PWD}:${PWD}'

    withName: 'check_inventories|WRITE_.*|FILTER_.*|DNDSCV' {
        container = params.r_container
        cpus = 1
    }

    withName: CREATE_RDA_FOR_DNDSCV_DIGDRIVER {
        container = params.r_container
        cpus = 2
    }

    withName: DIGDRIVER {
        container = params.digdriver_container
        cpus = 1
    }

    withName: 'DNDSCV|NBR' {
        container = params.r_container
        cpus = 1
    }

    withName: MUTPANNING {
        container = params.mutpanning_container
        cpus = 1
    }

    withName: 'ONCODRIVE.*' {
        container = params.oncodrivefml_container
        cpus = 4
    }
}