params {
    target_genome_path = 'data/assets/reference_genome/Homo_sapiens_assembly19.fasta'
    // optional, but required then filtering by local mutation rate is
    // requested (see bin_len below)
    target_genome_chr_len = 'data/assets/reference_genome/Homo_sapiens_assembly19.chrom.sizes.bed'
    chain = 'data/assets/reference_genome/hg38ToHg19.over.chain'

    mutpanning_java_memory='16G'
}

executor {
    name = 'local'
    cpu = 2
}

process {
    containerOptions = '--bind ${PWD}:${PWD}'

    withName:check_inventories {
        cpus = 1
    }

    withName:'write_.*' {
        cpus = 1
    }

    withName: 'oncodrive.*' { 
        cpus = 4
    }
}